@import "../scss/abstracts/all.scss";


.menu {
    background-color: $bgMain;
    width: 44px;
    height: 38px;
    margin-bottom: 23px;
    padding: 0 14px;
    margin-left: auto;
  
    
    position: relative;
    &-nav {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
  
      width: 182px;
      li {
        a {
          background-color: #fafafa;
          display: block;
          padding: 4.5px 13px;
          
          &:hover{
              background-color: #E5E5E5;
              color: $mainText;
          }
        }
        
      }
      .home-link {
          a{
              color: $activeLink;
          }
      }
    }
  
    .active-menu-nav{
      display: block;
    }
  
    cursor: pointer;
    @include tablet {
      display: none;
    }
  
    &-line,
    &-line::before,
    &-line::after {
      content: "";
      background-color: $white;
      display: block;
      height: 2px;
      width: 17px;
    }
  
    &-line {
      transform: translateY(18px);
      transition: 300ms background-color;
      &::before {
        bottom: 4px;
        position: absolute;
        transition: 300ms transform, 300ms 300ms bottom;
      }
      &::after {
        top: 4px;
        position: absolute;
        transition: 300ms transform, 300ms 300ms top;
      }
    }
  
    &-active {
      .menu-line {
        background-color: transparent;
  
        &::before {
          transform: rotate(-45deg);
          bottom: 0;
          transition: 300ms 300ms transform, 300ms bottom;
        }
  
        &::after {
          transform: rotate(45deg);
          top: 0;
          transition: 300ms 300ms transform, 300ms top;
        }
      }
    }
  }

  .footer {
  background-color: $bgMain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 8px;
  padding: 38px 35px 47px;
  &-title {
    color: $white;
  }
  &-text {
    font-weight: $fw_normal;
    font-size: $fs-sm;
    line-height: $fw-normal;
    text-align: center;
    color: $brandText2;
    margin-bottom: 18px;

    @include tablet{
        font-size: $fs_16;
        line-height: $lh-26;
    }
  }
  .social-media {
    display: flex;
    align-items: center;
    column-gap: 6px;
    span {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      &.rss-icon {
        border: 1px solid $rss;
      }
      &.facebook-icon {
        border: 1px solid $facebook;
      }
      &.twitter-icon {
        border: 1px solid $twitter;
      }
      &.dribble-icon {
        border: 1px solid $dribble;
      }
      &.pinterest-icon {
        border: 1px solid $pinterest;
      }
    }
  }
  .address{
    width: 100%;
    text-align: center;
    padding: 17px 25px 0 25px;
    color: $brandText2;
    line-height: $lh-24;
    font-size: $fs_14;
    font-weight: $fw-normal;
    @include tablet{
        font-size: $fs_16;
        line-height: $lh-26;
    }
  }

  @include tablet{
    padding: 57px 138px 57px 118px;
  }


  @include desktop{
    padding: 66px 462px 70px 454px;
  }
}


.header{
    padding: 23px 28px 0 25px;
    width: 100%;
    @include tablet {
        padding: 41px 92px 0 80px;
    }

    @include desktop {
        padding: 45px 215px ;
    }

        


    .nav{
        display: none;
        @include tablet {
            display: block;
            padding: 0 50px 43px;
            ul{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .home-link{
                    a{
                        color: $activeLink;
                        
                    }
                }
            }
        }
    }

    &-image{
        height: auto;
        width: 100%;
        
    }
}

.container {
    margin-top: 38px;
    padding-left: 25px;
  
    .posts-heading {
      margin-bottom: 23px;
    }
  
    .posts-container {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 28.5px;
  
      .post {
        &__img {
          width: 160px;
          height: 140px;
          margin-bottom: 11px;
        }
        &__title {
          color: $mainText;
          font-weight: $fw_bold;
          font-size: $fs_14;
          line-height: $lh-30;
        }
        &__comment {
          color: $brandText;
          font-size: $fs_11;
          line-height: $lh-20;
          font-weight: $fw_normal;
        }
        &__description {
          display: none;
        }
  
        &:last-of-type {
          display: none;
        }
      }
    }
  
    @include tablet {
      margin-top: 33px;
      padding-left: 80px;
      padding-right: 92px;
      .posts-container {
        .post {
          display: flex;
          align-items: start;
          column-gap: 20px;
          &__title {
            font-size: $fs_16;
          }
          &__comment {
            font-size: $fs_12;
            margin-top: 1px;
            margin-bottom: 13px;
          }
          &__description {
            display: block;
            font-weight: $fw-normal;
            font-size: $fs_14;
            line-height: $lh-26;
            color: $mainText;
          }
          &:last-of-type {
            display: flex;
          }
        }
      }
    }
  
    @include desktop{
      margin-top: 43px;
      padding: 0 190px 69px 215px;
  
      .posts-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 60px;
      }
    }
  }
  
  .shots {
    padding: 38px 47px 42px 25px;
    width: 100%;
    .insta-shot {
      margin-bottom: 13px;
  
      &-img {
        width: 100%;
        height: auto;
      }
    }
    .insta-page {
      display: none;
    }
  
    .images-container{
      .hidden{
        display: none;
        &-4{
          display: none;
        }
      }
      
    }
  
    @include tablet {
      padding: 47px 92px 58px 80px;
      margin-top: 60px;
  
      background-color: rgba($color: $brandText, $alpha: 0.04);
      .navigation-container {
        display: flex;
        margin-bottom: 35px;
        align-items: center;
        justify-content: space-between;
        .insta-page {
          display: inline-block;
          font-size: $fs_13;
          line-height: $lh-22;
          font-weight: $fw_bold;
          color: $mainText;
          text-transform: uppercase;
        }
        .insta-shot{
          margin-bottom: 0px;
          
        }
      }
      .images-container{
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          column-gap: 10px;
          .hidden{
            display: block;
            
          }
      }
    }
  
  
    @include desktop {
      padding: 47px 215px 49px;
      margin-top: 60px;
  
      background-color: rgba($color: $brandText, $alpha: 0.04);
      .navigation-container {
        display: flex;
        margin-bottom: 35px;
        align-items: center;
        justify-content: space-between;
        .insta-page {
          display: inline-block;
          font-size: $fs_13;
          line-height: $lh-22;
          font-weight: $fw_bold;
          color: $mainText;
          text-transform: uppercase;
        }
        .insta-shot{
          margin-bottom: 0px;
          
        }
      }
      .images-container{
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          column-gap: 10px;
          .hidden-4{
            display: block;
          }
      }
    }
  }

  *{
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
  }