$white: hsl(0, 0%, 100%);
$bgMain: #070606;
$mainText: rgb(104, 103, 103);
$brandText: rgb(160, 159, 159);
$brandText2: rgb(125, 125, 125);
$footerText: #B9B9B9;
$rss: #e17e21;
$facebook: #1f56cd;
$twitter: #2aa0d6;
$dribble: #d76da9;
$pinterest: #b32c35;
$activeLink: #50ebeb;